beautifulsoup4 @ file:///Users/ec2-user/croot/beautifulsoup4-split_1770291772626/work
contourpy==1.3.3
cycler==0.12.1
fonttools==4.62.1
html5lib @ file:///Users/ktietz/demo/mc3/conda-bld/html5lib_1629144453894/work
kiwisolver==1.5.0
lxml @ file:///opt/miniconda3/conda-bld/lxml_1764009710357/work
matplotlib==3.10.8
numpy==2.4.4
packaging==26.0
pandas==3.0.2
pillow==12.2.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
six @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_03myqm7p6o/croot/six_1744271511946/work
soupsieve @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_9798xzs_03/croot/soupsieve_1696347567192/work
typing_extensions @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_dffmcwqo6o/croot/typing_extensions_1756281471323/work
webencodings==0.5.1
